@import "tailwindcss";

html,
body {
  box-sizing: border-box;
  background-color: #f7f7f8;
  overflow-x: hidden;
}
@theme {
  --breakpoint-small-l : 64.0625rem;
  --breakpoint-md:50rem;
  --breakpoint-m:23.5rem;
  --breakpoint-2xl:120rem
}


